.image {
    display: inline-block;
    border: 0;

    img {
        display: block;
        width: 100%;
    }

    &.avatar48 {
        width: 48px;
        height: 48px;

        img {
            width: 48px;
            height: 48px;
        }
    }

    &.fit {
        display: block;
        width: 100%;
    }

    &.featured {
        display: block;
        width: 100%;
        margin: 0 0 2em 0;
    }

    &.left {
        float: left;
        margin: 0 2em 2em 0;
    }

    &.right {
        float: right;
        margin: 0 0 2em 2em;
    }

    &.centered {
        display: block;
        margin: 0 0 2em 0;

        img {
            margin: 0 auto;
            width: auto;
        }
    }
}
