table {
    width: 100%;
    text-align: left;

    tbody {
        tr {
            &:nth-child(2n+2) {
                background: #f4f4f4;
            }
        }
    }

    td {
        padding: 0.5em 1em 0.5em 1em;
    }

    th {
        text-align: left;
        padding: 0.5em 1em 0.5em 1em;
        color: #fff;
        background: $menuBackgroundColor url('images/overlay.png');
    }

    thead {
        background: #444;
        color: #fff;
    }

    tfoot {
        background: #eee;
    }
}
