---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
    {%- if page.banner-img and page.banner-img-alt -%}
        {%- include banner.html title=page.title photo=page.banner-img subtitle = page.subtitle title-color = page.title-color photo-alt=page.banner-img-alt position-top=page.img-position-top -%}
    {%- endif -%}
	<!-- Posts List -->
    <div class="blogBody">


	{%- for post in _posts -%}
		{%- include card.html -%}
	{%- endfor -%}
    </div>
</div>
{%- comment -%}
{%- capture _title -%}
    <a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
{%- endcapture -%}
{%- capture _subtitle -%}
    {% if _post.author -%}{{- _post.author }} | {% endif %}
    {{- _post.date | date_to_long_string -}}
{%- endcapture -%}
{%- capture _excerpt -%}<p>{{- _post.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
{%- capture _link -%}<a href="{{- _post.url | absolute_url -}}">mehr erfahren</a>{%- endcapture -%}
{%- assign _content = _excerpt | append: _link -%}
{%- include section.html title=_title subtitle=_subtitle content=_content -%}

{%- endcomment -%}
